body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    line-height: 1.88;
}
.logo {
    font-family: 'Raleway';
    color:black;
    text-decoration: none;
}
.blue-logo {
    color: #2196F3;
}
.header-contact {
    color:#757575;
    text-decoration: none;
    line-height: 1.17;
}
.baner-title {
    color: white;
}
.card-descripion {
    color: #757575;
}
.b-portfolio {
    cursor: pointer;
    text-align: center;
    background: #F5F4FA;
    border-radius: 4px;
}
.b-portfolio:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.list {
    list-style-type: none;
}
.image-simple-list {
    width:auto;
    height: auto;
}
.card-title {
    font-size: 18px;
    line-height: 2;
}
.footer-banner {
    background-color: #2F303A;
}
.footer-address {
    font-style: normal;
}
.postal {
    color: #FFFFFF;
}
.footer-tel-no {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.email {
    color: rgba(255, 255, 255, 0.6);
}
.email-index {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.link {
    color: #212121;
    text-decoration: none;
}
.link:hover {
    color: #2196F3;
}
.logo-footer {
    color: #FFFFFF;
    padding-left: 40px;
}