body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.88;
}
:root {
    --bg-color: #2F303A;
    --link-color: #2196F3;
    --button-color: #2196F3;
    --content-color: #757575;
    --title-color: #212121;
}
.logo {
    font-family: 'Raleway';
    color:black;
    text-decoration: none;
}
.blue-logo {
    color: var(--link-color);
}
.header-contact {
    color: var(--content-color);
    text-decoration: none;
    line-height: 1.17;
}
.header-email:hover, 
.header-pn:hover,
.footer-email:hover,
.footer-pn:hover,
.footer-tel-no:hover,
.email:hover,
.link:hover {
    color: var(--link-color);
}
.baner {
    background-color: var(--bg-color);
}.baner-title {
    color: white;
}
.section-t {
    color: var(--title-color);
}
.card-descripion {
    color: var(--content-color);
}
.b-portfolio {
    cursor: pointer;
    text-align: center;
    background: #F5F4FA;
    border-radius: 4px;
}
.b-portfolio:hover {
    background-color: var(--button-color);
    color: #FFFFFF;
}
.list {
    list-style-type: none;
}
.image-simple-list {
    width:auto;
    height: auto;
}
.card-title {
    font-size: 18px;
    line-height: 2;
    color: inherit;
}
.footer-banner {
    background-color: var(--bg-color);
}
.footer-address {
    font-style: normal;
}
.postal {
    color: #FFFFFF;
}
.footer-tel-no {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.email {
    color: rgba(255, 255, 255, 0.6);
}
.email-index {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
.link {
    color: #212121;
    text-decoration: none;
}

.logo-footer {
    color: #FFFFFF;
    padding-left: 40px;
}